{{!--
Page navbar
/ navbar

--}}

<!-- NAVBAR -->

<!-- CONDITION PETIT ECRAN -->
<style>
  @media only screen and (max-width:800px) {
    .nav-perso {
      position: relative !important;
      width: 100% !important;
      flex-flow: column;
    }
  }
</style>


<nav class="fixed-top">

  <nav class="nav-perso bg-dark d-flex border-top border-white">
    <ul class="d-flex list-unstyled col-md-6 mb-0 justify-content-center">
      <!-- Facebook -->
      <li class="nav-item">
        <a class="text-decoration-none mx-3 pb-0 text-white" href="#"><i class="fab fa-facebook-square"></i></a>
      </li>
      <!-- Twitter -->
      <li class="nav-item">
        <a class="text-decoration-none mx-3 pb-0 text-white" href="#"><i class="fab fa-twitter-square"></i></a>
      </li>
      <!-- Instagram -->
      <li class="nav-item">
        <a class="text-decoration-none mx-3 pb-0 text-white" href="#"><i class="fab fa-instagram-square"></i></a>
      </li>
      <!-- Google -->
      <li class="nav-item">
        <a class="text-decoration-none mx-3 pb-0 text-white" href="#"><i class="fab fa-google-plus-square"></i></a>
      </li>
    </ul>

    <ul class="d-flex list-unstyled col-md-6 mb-0 justify-content-center">
      <li class="nav-item">
        <a class="text-decoration-none mx-3 text-white" href="#"><i class="fas fa-phone-square-alt"></i>
          06.06.06.06.06</a>
      </li>
      <li class="nav-item">
        <a class="text-decoration-none mx-3 text-white" href="#"><i class="fas fa-envelope"></i> mon@email.fr</a>
      </li>
    </ul>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-dark">
    <a class="font-weight-bold navbar-brand animation-rotate-360" href="/">
      <strong>CC</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="w-100 navbar-nav justify-content-around">
        <a class="nav-link" href="/competences">Compétences</a>
        <a class="nav-link" href="/project">Mes projets</a>
        <a class="nav-link" href="/contact">Contact</a>

        {{#if admin }}
        <a class="nav-link" href="/admin">Admin</a>
        {{/if }}

        {{#if user }}
        <button type="button" class="btn btn-dark btn-sm"
          data-toggle="modal" data-target="#modalLogout">
          Se Déconnecter
        </button>

        {{else}}
        <a class="nav-link" href="/login">Se connecter</a>
        {{/if}}

      </div>
    </div>
  </nav>


  {{> modals/modalLogout }}

  <style>
    .animation-rotate-360:hover {
      animation: rotate 1s linear;
    }

    @keyframes rotate {
      0% {
        transform: rotate(0deg);
      }

      50% {
        transform: rotate(180deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  </style>

</nav>