{{!--
Page navbarAdmin
/ navbarAdmin

--}}

<!-- NAVBAR ADMIN -->

<section class="container">
    <div class="d-flex-justify-content-arround">
        <div class="col-md-12">
            <nav class="nav nav-pills flex-column flex-sm-row " style="margin-top: 2em;">
                <!-- btn competence -->
                <a class="flex-sm-fill text-sm-center nav-link active bg-dark rounded-pill" href="/">Cc</a>
                {{!-- <button class="flex-sm-fill text-sm-center nav-link active bg-dark rounded-pill" type="button"
                    data-toggle="collapse" data-target="/#mySkill" aria-expanded="true"
                    aria-controls="mySkill">Cc</button> --}}
                <!-- btn competence -->
                <button class="flex-sm-fill text-sm-center nav-link active bg-dark rounded-pill" type="button"
                    data-toggle="collapse" data-target="#mySkill" aria-expanded="true"
                    aria-controls="mySkill">Message</button>
                <!-- btn presentation -->
                <button class="flex-sm-fill text-sm-center nav-link active bg-dark rounded-pill" type="button"
                    data-toggle="collapse" data-target="#presentation" aria-expanded="true"
                    aria-controls="presentation">Presentation</button>
                <!-- btn utilisateur -->
                <button class="flex-sm-fill text-sm-center nav-link active bg-dark rounded-pill" type="button"
                    data-toggle="collapse" data-target="#user" aria-expanded="true"
                    aria-controls="user">Utilisateur</button>
            </nav>
        </div>
    </div>
</section>