{{!--
Page navbar
/ navbar

--}}

<!-- NAVBAR -->
<div class="fixed-top ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between ">
        <ul class="d-flex list-unstyled logo" style="padding-inline-start: 0;">
            <li class="nav-item ">
                <a class="nav-link text-dark text-decoration-none " href="#"><i class="fab fa-facebook-square"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark text-decoration-none" href="#"><i class="fab fa-twitter-square"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark text-decoration-none" href="#"><i class="fab fa-instagram-square"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark text-decoration-none" href="#"><i
                        class="fab fa-google-plus-square"></i></a>
            </li>
        </ul>

        <ul class="d-flex contact list-unstyled">
            <li class="nav-item">
                <a class="nav-link text-dark text-decoration-none" href="#"><i class="fas fa-phone-square-alt"></i>
                    06.06.06.06.06</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark text-decoration-none" href="#"><i class="fas fa-envelope"></i>
                    mon@email.fr</a>
            </li>
        </ul>
    </nav>

    <nav class="nav nav-pills flex-column justify-content-between bg-light border-dark border-bottom">
        <ul class="d-flex justify-content-between list-unstyled" style="padding-inline-start: 0;">
            <li class="flex-sm-fill text-sm-center text-dark text-decoration-none">
                <a class="wf-300 nav-link font-weight-bold text-dark text-decoration-none animation-rotate-360"
                    href="/"><strong>CC</strong></a>
            </li>
            <li class="flex-sm-fill text-sm-center ">
                <a class="nav-link text-dark text-decoration-none" href="/#competence">Compétence</a>
            </li>
            <li class="flex-sm-fill text-sm-center ">
                <a class="nav-link text-dark text-decoration-none" href="/#apropos">À propos</a>
            </li>
            <li class="flex-sm-fill text-sm-center ">
                <a class="nav-link text-dark text-decoration-none" href="/#contact">Contact</a>
            </li>
            <li class="flex-sm-fill text-sm-center ">
                <a class="nav-link text-dark text-decoration-none" href="/admin">Admin</a>
            </li>
        </ul>
    </nav>
</div>


<style>
    .animation-rotate-360:hover {
        animation: rotate 1s linear;
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(180deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>