{{!--
Page Competence
/

--}}

<!-- COMPETENCE -->
<section>
    <div id="competence" class="container text-center font-weight-bold" style="margin-top: 10vh; margin-bottom: 10vh;">
        <h1> Mes compétences</h1>
        <h2>Des compétences à votre service</h2>
    </div>

    <!-- Bloc (section) -->

    <!-- compétence 1 -->
    {{!-- <div class="container">
        <div class="container row justify-content-around ml-0">
            <div class="card col-sm-5 col-12 border-dark">
                <h3>Domaine de compétence</h3>
                <div><i class="fas fa-check-circle "><a href="/competences/"> 1er compétence</a></i></div>
                <div><i class="fas fa-check-circle "><a href="/competences/"> 2er compétence</a></i></div>
                <div><i class="fas fa-check-circle "><a href="/competences/"> 3er compétence</a></i></div>
            </div>


            <div class="card col-sm-5 col-12 border-dark">
                <h3>Compétence en dév</h3>
                <div><i class="fas fa-check-circle "><a href="/competences/"> 1er compétence</a></i></div>
                <div><i class="fas fa-check-circle "><a href="/competences/"> 2er compétence</a></i></div>
                <div><i class="fas fa-check-circle "><a href="/competences/"> 3er compétence</a></i></div>
            </div>
        </div>
    </div>
</section> --}}
 <section id="competence">
            <div class="left-float">
                <div class="compLeft animated-element slide-left">
                    <h3><i class="fa fa-code"></i>Compétences techniques</h3>
                    <ul class="compItems">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>jQuery</li>
                         <li>MySQL</li>
                        <li>Bootstrap</li>
                        <li>Responsive design</li>
                    </ul>
                </div>
            </div>
 </section>