{{!-- 
    Page Competence
    / 

--}}

    <!-- COMPETENCE -->
    <section>
        <div id="competence" class="container text-center font-weight-bold " style="margin-top: 10vh; margin-bottom: 10vh;">
            <h1> Mes compétences</h1>
            <h2>Des compétences à votre service</h2>
        </div>

        <!-- Bloc (section) -->

        <!-- compétence 1 -->
        <div class="container">
            <div class="container row justify-content-around ml-0">
                <div class="card col-sm-5 col-12 border-dark">
                    <h3>Domaine de compétence</h3>
                    <div><i class="fas fa-check-circle "><a href="/competence/4"> 1er compétence</a></i></div>
                    <div><i class="fas fa-check-circle "><a href="/competence/4"> 2er compétence</a></i></div>
                    <div><i class="fas fa-check-circle "><a href="/competence/4"> 3er compétence</a></i></div>
                </div>
                <div class="card col-sm-5 col-12 border-dark">
                    <h3>Compétence en développement</h3>
                    <div><i class="fas fa-check-circle "><a href="/competence/4"> 1er compétence</a></i></div>
                    <div><i class="fas fa-check-circle "><a href="/competence/4"> 2er compétence</a></i></div>
                    <div><i class="fas fa-check-circle "><a href="/competence/4"> 3er compétence</a></i></div>
                </div>
            </div>
        </div>
    </section>