{{!--
Page Contact
/ Contact
--}}

<!-- CONTACT -->
<section id="contact" class='container' style="margin-top: 10vh; margin-bottom: 30vh;">
    <!-- Titre section -->
    <div class="col-md-12 text-center" style="margin-top: 10vh;">
        <h1>Contact</h1>
        <h2>Une idée ? Un projet ? <br>N'hésitez pas à me demander un devis ! <strong>[Gratuit]</strong></h2>
    </div>

    <div id='contact' class="container py-5">
        <div class="row container-fluid m-0">
            <div class="col-md-6 row">

                {{!-- Formulaire contact --}}
                <form class="row" action="/message" method="post">
                    <!-- Input Username -->
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="username" placeholder="Username"/>
                        </div>
                    </div>

                    <!-- Input Email -->
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="email" placeholder="Email"/>
                        </div>
                    </div>

                    <!-- Input Sujet -->
                    <div class="col-md-12">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="sujet" placeholder="Sujet"/>
                        </div>
                    </div>

                    <!-- Input Message -->
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea class="form-control" id="message-text" name= "message" placeholder="Message"></textarea>
                        </div>
                    </div>

                    <!-- Boutton -->
                    <div class="col-md-12 text-center">
                        <button type ="submit" class="btn btn-primary m-2">Envoyer</button>
                    </div>
                </form>

            </div>
            <div class="col-md-6 ml-4">
                {{!-- Map --}}
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d85460.71402160164!2d0.125653178124552!3d47.98187616152896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e288d214f3aa31%3A0x69025d4c6a7de07f!2sLe%20Mans!5e0!3m2!1sfr!2sfr!4v1607523888097!5m2!1sfr!2sfr"
                    width="100%" height="350" frameborder="0" style="border:0 m-0;" allowfullscreen=""
                    aria-hidden="false" tabindex="0" alt="image"></iframe>

            </div>
        </div>
</section>