{{!-- 
     Page footer
    / footer
   
--}}

 <!-- FOOTER -->
    <footer class="container-fluid border border-dark border-bottom">
        <div class="row" style="margin-top: 10vh;">
            <!-- bloc left 8/12 -->
            <div class="col-md-8">

                <!-- header bloc left 12/12 -->
                <div class="row ">
                    <!-- bloc left 6/12 -->
                    <div class="wf-300 col-md-6 d-flex justify-content-around">
                        <h1><strong>CC</strong></h1>
                    </div>
                    <!-- bloc right 6/12 -->
                    <div class="container-fluid  col-md-6">
                        <ul class="d-flex logo list-unstyled justify-content-around" style="padding-inline-start: 0;">
                            <li class="nav-item ">
                                <a class="nav-link text-dark text-decoration-none" href="# "><i class="fab fa-facebook-square "></i></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-dark text-decoration-none" href="# "><i class="fab fa-twitter-square "></i></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-dark text-decoration-none" href="# "><i class="fab fa-instagram-square "></i></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-dark text-decoration-none" href="# "><i class="fab fa-google-plus-square "></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- body footer 12/12 -->
                <div class="col-md-12 p-3">
                    <p>DÉVELOPPEUR INFORMATIQUE Développeur Web front & back-end, je suis à votre disposition pour répondre à tout type de projets de création de sites internet, de développement spécifique ou d'applications web. Passionné par les technologies
                        liées au Web, je mets mes compétences au service de vos besoins dans divers domaines.</p>
                </div>
            </div>

            <!-- bloc right 4/12-->
            <div class="col-md-4 ">
                <div class="d-flex list-unstyled justify-content-around ">
                    <ul>
                        <li>
                            <h5>Christophe CATHERINE</h5>
                        </li>
                        <li><i class="fas fa-map-marker-alt"></i> Le Mans</li>
                        <li><i class="fas fa-phone-square-alt"></i> 06.06.06.06.06</li>
                        <li><i class="fas fa-envelope "></i> mon@email.fr</li>
                        <div id="delCookie"></div>
                    </ul>
                </div>
            </div>

        </div>
    </footer>