 {{!-- 
     Page home
    / home
   
--}}
 
 <!-- HOME -->

    <section id="cc" style="margin-top: 40vh; margin-bottom: 30vh;">
        <div class="container text-center font-weight-bold">
            <h1> Christophe CATHERINE</h1>
            <div class="container" style="margin-top: 20vh;">
                <h1>Créateur de site web/web mobile</h1>
            </div>
        </div>
    </section>