{{!--
Page project
/ project

--}}


<section id="apropos" class="container" style="margin-top: 30vh; margin-bottom: 30vh;">
    <div class="text-center font-weight-bold ">
        <h1>Mes projets</h1>
        <h2>Une partie des projets sur lesquels j'ai travaillé</h2>
    </div>

    <!-- MON PROJET1 -->
    <div class="row justify-content-around" style="margin-top: 10vh; margin-bottom: 30vh;">
        <div class="col-sm-5 col-12">
            <div class="card">
                <div class="border border-dark">
                    <div class="card-body">
                        <h5 class="card-title text-center">Special title treatment</h5>
                        <img src="/assets/image/site-pizza.png" class="card-img-top" alt="...">
                        <div class="d-flex justify-content-center">
                            <a href="https://christophecatherine.github.io/04-html-css-bootstrap/" class="btn btn-dark"
                                target="_blank">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- MON PROJET2 -->
        <div class="col-sm-5 col-12 ">
            <div class="card ">
                <div class="border border-dark ">
                    <div class="card-body ">
                        <h5 class="card-title text-center ">Special title treatment</h5>
                        <img src="/assets/image/site-pizza.png" class="card-img-top " alt="... ">
                        <div class="d-flex justify-content-center ">
                            <a href="https://christophecatherine.github.io/04-html-css-bootstrap/ " class="btn btn-dark"
                                target="_blank">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>