{{!-- 
    Page Home
    /home
--}}
<p class="welcome">Welcome <u>{{ user.name }}</u></p>

{{#if admin }}



{{else}}


{{/if }}

{{> home/header }}
{{> home/competence }}
{{> home/project }}
{{> home/contact }}
{{> home/footer }}
