{{!-- 
    Partial headerID
    --}}

<section>
    <div class="card" style="width : 100%; height : 100vh; text-align: center;">
        <img src="{{ presentationID.imgPresentation }}" style="height : 80%" class=" card-img-top " alt="... ">
        <div style="height:20%" class="card-body">
            <h5 class="card-title "><strong> {{ presentationID.title }} </strong></h5>
            <p class="card-text ">Etant novice en développement, j'ai appris à coder en HTML/CSS. Cela m'a permis de
                voir qu'avec des lignes de code on arrive à créer un site; c'est super !</p>
        </div>
    </div>
</section>