<!-- Modal Create -->
<div class="modal fade" id="modalCreatePresentation" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal Create</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/presentation" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Titre:</label>
                        <input type="text" class="form-control" name='title' id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Descritpion:</label>
                        <input type="text" class="form-control" name='description' id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Content:</label>
                        {{!-- !!! ne pas oublier le name='content' pour l'arch du body !!! --}}
                        <textarea class="textarea" id='contentCreatePresentation' name='content'
                            placeholder="Textarea"></textarea>
                        {{!--script id CKEDITOR--}}
                        <script>
                            CKEDITOR.replace('contentCreatePresentation', {
                                entities_latin: false,
                                uiColor: '#ff5cde'
                            })
                        </script>
                        {{!-- Image traiter avec multer --}}
                        <input type="file" name="imagePresentation">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send message</button>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                {{!-- Rien a mettre --}}
            </div>
        </div>
    </div>
</div>
<!-- / Modal Create -->